

#sign{
    font-size: 45px;
    font-family: Trattatello;
    color: lightcyan;
    text-align: center;
}

#description{
    font-size: 20px;
    font-family: "Gujarati MT";
    color: lightcyan;
    text-align: center;
}


#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("img/Starry.jpg");
    background-size: cover;


}

h1 {
    color: cyan;
    text-align: center;
}


#oneDiv {
    position: relative;
    width: 30%;
    margin: auto;
    text-align: center;
    color: cyan;

}

select{
    text-align: center;
}

